In [1]:
import pandas as pd
import numpy as np

In [2]:
MIN_TRAIN_DAY = 1400

# 1. Load Data

In [3]:
sales_train_validation = pd.read_csv('raw_data\sales_train_validation.csv')
sample_submission = pd.read_csv('raw_data\sample_submission.csv')
sell_prices = pd.read_csv('raw_data\sell_prices.csv')
calendar = pd.read_csv('raw_data\calendar.csv')

In [4]:
sales_train_validation

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,2,0,0,0,0,0,1,0,0,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,2,1,0,2,0,1,0,0,1,0
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,1,0,0,1,0,3,1,3
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
def process_calendar(calendar):
    calendar = calendar.drop('date',axis=1)
    calendar['day'] = calendar['d'].apply(lambda d : int(d[2:]))
    del calendar['d']
    return calendar
if 'd' in calendar.columns:
    calendar = process_calendar(calendar)

In [6]:
def get_one_day(df: pd.DataFrame, day, no_days):
    df_one_day = no_days.copy()
    df_one_day['day'] = day
    df_one_day['target'] = df[f'd_{str(day)}']
    return df_one_day
def multi_to_binary(df: pd.DataFrame, day_range = None):
    if day_range is None:
        day_range = [int(c[2:]) for c in df.columns if c.startswith('d_')]
    no_days = df[[c for c in df.columns if not c.startswith('d_')]]
    return pd.concat([get_one_day(df, day, no_days) for day in day_range])

def add_calendar(df, calendar):
#     df = df.join(calendar, on='day', rsuffix='_calendar')
#     df = df.drop('day_calendar', axis = 1)
    return pd.merge(df, calendar, how='left', on = ['day'], suffixes=('', '_calendar'))

def add_sell_prices(df, sell_prices):
    return pd.merge(df, sell_prices, how='left', on = ['item_id', 'store_id', 'wm_yr_wk'], suffixes=('', '_sellprices'))

def process_df(df,day_range = None):
    df = multi_to_binary(df, day_range)
    df['id'] = df['id'].apply(lambda s : s.replace('_validation','').replace('_evaluation',''))
    df = add_calendar(df, calendar)
    df = add_sell_prices(df, sell_prices)
    
    id_day_index = df[['id', 'day']].apply(lambda r: (r.id +'_'+str(r.day)), axis = 1)
    df = df.set_index(id_day_index)
    df = df[[c for c in df.columns if c != 'target'] + ['target']]
    return df

In [7]:
sample_submission_copy = sample_submission.copy()
splited_id = sample_submission_copy['id'].apply(lambda s: s.split('_'))
# item_id	dept_id	cat_id	store_id	state_id
sample_submission_copy['cat_id'] = splited_id.apply(lambda l: l[0])
sample_submission_copy['dept_id'] = splited_id.apply(lambda l: '_'.join(l[:2]))
sample_submission_copy['item_id'] = splited_id.apply(lambda l: '_'.join(l[:3]))
sample_submission_copy['state_id'] = splited_id.apply(lambda l: l[3])
sample_submission_copy['store_id'] = splited_id.apply(lambda l: '_'.join(l[3:5]))
is_private_test = splited_id.apply(lambda l: (l[-1] == 'evaluation'))
# remove the 'validation'
# sample_submission_copy['id'] = sample_submission_copy['id'].apply(lambda s : s.replace('_validation','').replace('_evaluation',''))
sample_submission_copy

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F24,F25,F26,F27,F28,cat_id,dept_id,item_id,state_id,store_id
0,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,HOBBIES,HOBBIES_1,HOBBIES_1_001,CA,CA_1
1,HOBBIES_1_002_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,HOBBIES,HOBBIES_1,HOBBIES_1_002,CA,CA_1
2,HOBBIES_1_003_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,HOBBIES,HOBBIES_1,HOBBIES_1_003,CA,CA_1
3,HOBBIES_1_004_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,HOBBIES,HOBBIES_1,HOBBIES_1_004,CA,CA_1
4,HOBBIES_1_005_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,HOBBIES,HOBBIES_1,HOBBIES_1_005,CA,CA_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60975,FOODS_3_823_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,FOODS,FOODS_3,FOODS_3_823,WI,WI_3
60976,FOODS_3_824_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,FOODS,FOODS_3,FOODS_3_824,WI,WI_3
60977,FOODS_3_825_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,FOODS,FOODS_3,FOODS_3_825,WI,WI_3
60978,FOODS_3_826_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,FOODS,FOODS_3,FOODS_3_826,WI,WI_3
60979,FOODS_3_827_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,FOODS,FOODS_3,FOODS_3_827,WI,WI_3

In [8]:
public_submission = sample_submission_copy[~is_private_test]
private_submission = sample_submission_copy[is_private_test]

In [9]:
public_Fday_to_days = {f'F{str(c)}': f'd_{c + 1913}'for c in range(1, 30)}
private_Fday_to_days = {f'F{str(c)}': f'd_{c + 1941}'for c in range(1, 30)}
public_submission.rename(columns = public_Fday_to_days, inplace =True)
private_submission.rename(columns = private_Fday_to_days, inplace =True)

C:\Alon\Anaconda3\lib\site-packages\pandas\core\frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [10]:
public_submission

,id,d_1914,d_1915,d_1916,d_1917,d_1918,d_1919,d_1920,d_1921,d_1922,...,d_1937,d_1938,d_1939,d_1940,d_1941,cat_id,dept_id,item_id,state_id,store_id
0,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,HOBBIES,HOBBIES_1,HOBBIES_1_001,CA,CA_1
1,HOBBIES_1_002_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,HOBBIES,HOBBIES_1,HOBBIES_1_002,CA,CA_1
2,HOBBIES_1_003_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,HOBBIES,HOBBIES_1,HOBBIES_1_003,CA,CA_1
3,HOBBIES_1_004_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,HOBBIES,HOBBIES_1,HOBBIES_1_004,CA,CA_1
4,HOBBIES_1_005_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,HOBBIES,HOBBIES_1,HOBBIES_1_005,CA,CA_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,FOODS,FOODS_3,FOODS_3_823,WI,WI_3
30486,FOODS_3_824_WI_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,FOODS,FOODS_3,FOODS_3_824,WI,WI_3
30487,FOODS_3_825_WI_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,FOODS,FOODS_3,FOODS_3_825,WI,WI_3
30488,FOODS_3_826_WI_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,FOODS,FOODS_3,FOODS_3_826,WI,WI_3
30489,FOODS_3_827_WI_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,FOODS,FOODS_3,FOODS_3_827,WI,WI_3

In [11]:
data = process_df(sales_train_validation, range(MIN_TRAIN_DAY, 1914))
public_submission = process_df(public_submission)
private_submission = process_df(private_submission)

In [12]:
data.sample(10)

,id,item_id,dept_id,cat_id,store_id,state_id,day,wm_yr_wk,weekday,wday,...,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price,target
FOODS_3_703_CA_2_1797,FOODS_3_703_CA_2,FOODS_3_703,FOODS_3,FOODS,CA_2,CA,1797,11548,Wednesday,5,...,2015,NaN,NaN,NaN,NaN,0,0,0,1.98,1
HOUSEHOLD_1_218_CA_1_1591,HOUSEHOLD_1_218_CA_1,HOUSEHOLD_1_218,HOUSEHOLD_1,HOUSEHOLD,CA_1,CA,1591,11519,Sunday,2,...,2015,NaN,NaN,NaN,NaN,1,1,0,1.94,2
HOBBIES_1_372_TX_1_1824,HOBBIES_1_372_TX_1,HOBBIES_1_372,HOBBIES_1,HOBBIES,TX_1,TX,1824,11552,Tuesday,4,...,2016,NaN,NaN,NaN,NaN,0,0,0,6.68,0
HOBBIES_1_325_TX_3_1587,HOBBIES_1_325_TX_3,HOBBIES_1_325,HOBBIES_1,HOBBIES,TX_3,TX,1587,11518,Wednesday,5,...,2015,NaN,NaN,NaN,NaN,1,1,1,6.44,1
HOUSEHOLD_2_189_CA_2_1604,HOUSEHOLD_2_189_CA_2,HOUSEHOLD_2_189,HOUSEHOLD_2,HOUSEHOLD,CA_2,CA,1604,11521,Saturday,1,...,2015,NaN,NaN,NaN,NaN,0,0,0,14.48,0
HOBBIES_1_240_CA_4_1813,HOBBIES_1_240_CA_4,HOBBIES_1_240,HOBBIES_1,HOBBIES,CA_4,CA,1813,11550,Friday,7,...,2016,NaN,NaN,NaN,NaN,0,1,1,2.98,0
FOODS_3_571_TX_3_1595,FOODS_3_571_TX_3,FOODS_3_571,FOODS_3,FOODS,TX_3,TX,1595,11519,Thursday,6,...,2015,NaN,NaN,NaN,NaN,0,1,1,8.98,1
FOODS_2_191_CA_3_1660,FOODS_2_191_CA_3,FOODS_2_191,FOODS_2,FOODS,CA_3,CA,1660,11529,Saturday,1,...,2015,NaN,NaN,NaN,NaN,0,1,1,8.88,0
FOODS_1_042_WI_3_1864,FOODS_1_042_WI_3,FOODS_1_042,FOODS_1,FOODS,WI_3,WI,1864,11606,Sunday,2,...,2016,NaN,NaN,NaN,NaN,1,1,1,0.94,1
HOBBIES_2_062_TX_1_1913,HOBBIES_2_062_TX_1,HOBBIES_2_062,HOBBIES_2,HOBBIES,TX_1,TX,1913,11613,Sunday,2,...,2016,NaN,NaN,NaN,NaN,0,0,0,5.88,0

In [13]:
data.columns

Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'day',
       'wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'event_name_1',
       'event_type_1', 'event_name_2', 'event_type_2', 'snap_CA', 'snap_TX',
       'snap_WI', 'sell_price', 'target'],
      dtype='object')

In [14]:
private_submission.columns

Index(['id', 'cat_id', 'dept_id', 'item_id', 'state_id', 'store_id', 'day',
       'wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'event_name_1',
       'event_type_1', 'event_name_2', 'event_type_2', 'snap_CA', 'snap_TX',
       'snap_WI', 'sell_price', 'target'],
      dtype='object')

In [15]:
public_submission.columns

Index(['id', 'cat_id', 'dept_id', 'item_id', 'state_id', 'store_id', 'day',
       'wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'event_name_1',
       'event_type_1', 'event_name_2', 'event_type_2', 'snap_CA', 'snap_TX',
       'snap_WI', 'sell_price', 'target'],
      dtype='object')

In [16]:
submission = pd.concat([public_submission, private_submission])

# 2. X, y split

In [17]:
X = data[[c for c in data.columns if c != 'target']]
y = data[['target']]

In [18]:
X

,id,item_id,dept_id,cat_id,store_id,state_id,day,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
HOBBIES_1_001_CA_1_1400,HOBBIES_1_001_CA_1,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1400,11443,Friday,7,11,2014,NaN,NaN,NaN,NaN,0,0,0,8.26
HOBBIES_1_002_CA_1_1400,HOBBIES_1_002_CA_1,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,1400,11443,Friday,7,11,2014,NaN,NaN,NaN,NaN,0,0,0,3.97
HOBBIES_1_003_CA_1_1400,HOBBIES_1_003_CA_1,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,1400,11443,Friday,7,11,2014,NaN,NaN,NaN,NaN,0,0,0,2.97
HOBBIES_1_004_CA_1_1400,HOBBIES_1_004_CA_1,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,1400,11443,Friday,7,11,2014,NaN,NaN,NaN,NaN,0,0,0,4.64
HOBBIES_1_005_CA_1_1400,HOBBIES_1_005_CA_1,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,1400,11443,Friday,7,11,2014,NaN,NaN,NaN,NaN,0,0,0,2.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FOODS_3_823_WI_3_1913,FOODS_3_823_WI_3,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,1913,11613,Sunday,2,4,2016,NaN,NaN,NaN,NaN,0,0,0,2.98
FOODS_3_824_WI_3_1913,FOODS_3_824_WI_3,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,1913,11613,Sunday,2,4,2016,NaN,NaN,NaN,NaN,0,0,0,2.48
FOODS_3_825_WI_3_1913,FOODS_3_825_WI_3,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,1913,11613,Sunday,2,4,2016,NaN,NaN,NaN,NaN,0,0,0,3.98
FOODS_3_826_WI_3_1913,FOODS_3_826_WI_3,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,1913,11613,Sunday,2,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.28
FOODS_3_827_WI_3_1913,FOODS_3_827_WI_3,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,1913,11613,Sunday,2,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.00

In [19]:
X_submission_public = public_submission[[c for c in public_submission.columns if c != 'target']]
y_submission_public_demo = public_submission['target']
X_submission_private = private_submission[[c for c in public_submission.columns if c != 'target']]
y_submission_private_demo = private_submission['target']
X_submission = submission[[c for c in submission.columns if c != 'target']]
y_submission_demo = submission['target']

In [ ]:
X.to_csv('data\X.csv')
y.to_csv('data\y.csv')
X_submission.to_csv('data\X_submission.csv')

# Submission

In [ ]:
# y_submission = y_submission_demo

In [ ]:
y_submission_public = y_submission_demo[X_submission['day'] <= X_public['day'].max()]
y_submission_private = y_submission_demo[X_submission['day'] > X_public['day'].max()]

In [ ]:
def process_y_submission(y_submission):
    y_submission = pd.DataFrame(y_submission)
    index_splitted = pd.Series(y_submission.index, index=y_submission.index).apply(lambda s: s.rsplit('_', 1))
    y_submission['new_index'] = index_splitted.apply(lambda l: l[0])
    y_submission['day'] = index_splitted.apply(lambda l: l[1])
    return y_submission

def parse_ss(s):
    ss = s.copy()
    day = ss['day'][0]
    ss = ss.set_index('new_index')
    ss = ss.drop('day', axis = 1)
    return ss, day

def process_submission(y_submission, index_suffix, Fday_to_days):
    y_submission = process_y_submission(y_submission)
    submission_df = pd.DataFrame(index=y_submission['new_index'].copy().unique())
    def add_to_submission(s):
        ss, day = parse_ss(s)
        submission_df[f'd_{day}'] = ss['target']
    y_submission.groupby('day').apply(add_to_submission)
    submission_df = submission_df.set_index(submission_df.index + index_suffix)
    submission_df = submission_df.rename(columns = {v:k for k,v in Fday_to_days.items()})
    return submission_df

In [ ]:
submission_public = process_submission(y_submission_public, '_validation', public_Fday_to_days)
submission_private = process_submission(y_submission_private, '_evaluation', private_Fday_to_days)

In [ ]:
submission = pd.concat([submission_public, submission_private])
submission = submission.reset_index().rename(columns = {'index': 'id'})

In [370]:
(submission['id'] == sample_submission['id']).all()

True

In [371]:
# submission.to_csv('submissions\submission.csv')

In [375]:
submission

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,HOBBIES_1_002_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,HOBBIES_1_004_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HOBBIES_1_005_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60975,FOODS_3_823_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60976,FOODS_3_824_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60977,FOODS_3_825_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60978,FOODS_3_826_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60979,FOODS_3_827_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [373]:
sample_submission

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,HOBBIES_1_002_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,HOBBIES_1_004_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HOBBIES_1_005_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60975,FOODS_3_823_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60976,FOODS_3_824_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60977,FOODS_3_825_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60978,FOODS_3_826_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60979,FOODS_3_827_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## A Few Statistics

In [23]:
uniq{col : sales_train_validation[col].unique() for col in sales_train_validation.columns}

{'id': array(['HOBBIES_1_001_CA_1_validation', 'HOBBIES_1_002_CA_1_validation',
        'HOBBIES_1_003_CA_1_validation', ...,
        'FOODS_3_825_WI_3_validation', 'FOODS_3_826_WI_3_validation',
        'FOODS_3_827_WI_3_validation'], dtype=object),
 'item_id': array(['HOBBIES_1_001', 'HOBBIES_1_002', 'HOBBIES_1_003', ...,
        'FOODS_3_825', 'FOODS_3_826', 'FOODS_3_827'], dtype=object),
 'dept_id': array(['HOBBIES_1', 'HOBBIES_2', 'HOUSEHOLD_1', 'HOUSEHOLD_2', 'FOODS_1',
        'FOODS_2', 'FOODS_3'], dtype=object),
 'cat_id': array(['HOBBIES', 'HOUSEHOLD', 'FOODS'], dtype=object),
 'store_id': array(['CA_1', 'CA_2', 'CA_3', 'CA_4', 'TX_1', 'TX_2', 'TX_3', 'WI_1',
        'WI_2', 'WI_3'], dtype=object),
 'state_id': array(['CA', 'TX', 'WI'], dtype=object),
 'd_1': array([  0,  12,   2,   4,   5,   9,   3,   1,  25,  45,  10,   8,   7,
         16,  54,   6,  50,  14,  11,  17,  15,  23,  13,  20,  19,  38,
         32,  21,  30,  33, 107,  51,  26, 147,  22,  43,  24,  35,  27,
         42,  49,  36,  18,  37, 116,  56,  28,  34,  41,  31,  39,  44,
        108,  55, 360,  62,  69,  75, 125,  53,  47,  29, 164,  52, 102,
         63,  98,  59, 203, 152,  65, 115,  46,  57,  90,  58,  78,  64,
        130,  60, 208,  93,  61,  40], dtype=int64),
 'd_2': array([  0,  15,   2,   1,   3,   7,   4,   8,  12,  19,   5,  25,  73,
         13,  36,  24,  16,   9,   6,  11,  38,  27,  18,  10,  31,  37,
         45,  14, 182,  21,  60,  29, 198,  23,  20,  40,  22,  26, 121,
         32,  44,  17,  28,  90,  78,  65,  43,  33,  30, 132,  49,  53,
        436,  55,  41,  54, 123,  46, 215,  34,  52, 160,  39,  58,  85,
        112,  64, 141,  79, 116,  59,  51,  35,  48, 108,  50, 153,  47,
        204,  70,  67,  62], dtype=int64),
 'd_3': array([  0,   7,   1,   3,   5,   2,   6,   4,  13,  12,  19,  28,  24,
         25,   8,  36,  67,  10,  11,  17,  14,  18,   9,  27,  16,  47,
         15,  31,  92,  23,  30,  20,  45,  35,  21,  46,  42,  33,  26,
         22,  32, 102,  34,  86, 207,  44,  37,  74,  39,  62,  94,  66,
         91,  43,  38, 128,  84,  51,  71,  40,  52,  41,  29,  50,  58,
         83,  72, 119,  76,  65,  49,  48], dtype=int64),
 'd_4': array([  0,   3,   5,   1,  16,   2,   7,  22,   4,   8,   6,  12,  15,
         33,  10,  27,  11,  31,  29,  18,  21,  32,  17,  52,  99,  14,
         47,  13,  41, 134,  50,   9,  23,  80,  19,  39,  26,  38,  24,
         89, 106,  25, 102,  20,  44,  40,  55, 120,  59,  35,  37, 323,
         42,  57,  84,  28,  62,  51,  45,  30, 127,  34, 107,  56,  73,
         76,  66, 139,  91,  64, 109, 140,  53,  48,  60,  94, 114,  36,
         54], dtype=int64),
 'd_5': array([  0,  15,   2,   1,   8,   4,   3,   7,  29,   5,   9,  10,  18,
          6,  30,  11,  23,  24,  14,  16,  27,  71,  20,  62,  13,  39,
         12, 115,  17,  51,  19,  21,  28,  32,  26,  22,  49,  25,  37,
         53,  46,  58, 106,  54,  42,  40, 296,  48,  31,  73,  35,  38,
         60,  41,  90,  92,  33,  56,  66,  45,  80,  43,  34], dtype=int64),
 'd_6': array([  0,   4,   2,  32,   1,   9,   5,   3,  16,   6,   7,  11,  18,
         23,   8,  10,  22,  74,  25,  29,  13,  17,  15,  20,  12,  43,
         31,  14,  85,  90,  83,  57,  28,  21,  34,  56,  27,  26,  24,
         38,  37,  36,  19,  30,  69,  33,  61,  73, 123,  78,  44,  46,
        314,  35,  67,  64,  39, 106,  62,  48,  45, 140,  60,  59,  66,
        159,  50,  89,  40,  96,  42,  55,  82,  41,  47, 128,  81,  65,
         76, 180,  52, 112,  80,  58], dtype=int64),
 'd_7': array([  0,   6,   3,   1,   2,  26,   4,   5,   9,  10,  16,  15,  24,
         17,  13,   8,   7,  21,  12,  46,  19,  35,  11, 137,  81,  18,
         28,  14, 171,  69,  27,  30,  43,  40,  33,  29, 100,  22,  92,
         23,  32,  20,  49,  25,  42,  44,  39, 279,  50,  37, 316,  41,
         48, 116,  51,  90,  61,  96,  31, 150,  47,  63,  97,  56,  34,
         78,  38,  36,  55,  52, 169,  45,  68,  70,  58,  53,  67,  87,
        174,  80,  57, 188, 107,  54,  74], dtype=int64),
 'd_8': array([  0,   5,   9,   2,   1,   7,   8,   3,  35,   6,   4,  13,  38,
         39,  20,  71,  15,  11,  29,  32,  78,  10,  14,  12,  16,  19,
         21,  24,  18,  25,  42,  49,  23, 195, 124,  17,  75,  43,  28,
        204,  30, 130,  45,  26,  27,  59, 102,  37,  60,  36,  58,  89,
         40,  31, 202,  34,  47,  22, 175,  48,  69, 370,  74,  97, 134,
         79, 118,  72,  54,  41,  53,  33, 200,  51,  56, 136,  96, 187,
         44, 123,  62,  61, 150, 127,  52,  64,  90,  65, 250, 104, 109,
         84, 367, 178,  85,  95,  80, 121,  76,  88], dtype=int64),
 'd_9': array([  0,   7,   2,   1,   3,  14,   8,   5,   4,  16,  11,  10,   6,
         21,   9,  30,  17,  24,  20,  15,  12,  44,  13,  31,  37,  27,
         18, 114,  32, 134,  19,  58,  25,  53, 214,  54,  22,  26,  92,
         23,  49,  34,  35,  47,  39,  71,  38,  28,  40,  42, 186,  67,
         60, 385,  41, 105,  77,  76, 118,  73,  48,  29,  45, 102, 177,
         66,  52,  72, 184,  33,  36,  56,  95, 162,  75, 115,  84,  43,
         62,  59, 103,  94,  61, 228,  85, 331, 147,  86,  91,  46,  55],
       dtype=int64),
 'd_10': array([  0,   7,   1,   2,  10,   5,   3,  30,  24,   6,  17,  20,   9,
         33,  19,   4,  16,  36,   8,  14,  34,  12,  23,  25,  26,  11,
         61,  71,  65,  13,  18,  45,  94,  41,  37,  79,  39,  28,  22,
         48,  38,  21,  15,  50,  31,  54,  62, 120,  42,  29, 353, 101,
         35,  32,  67,  76,  27,  86,  98,  51,  52,  46,  93,  44,  75,
        104,  70,  43,  59,  74, 154,  40,  66], dtype=int64),
 'd_11': array([  0,  13,   4,   2,   3,   7,   1,   5,  37,  10,  28,   6,  11,
         25,  24,  21,  48,  26,  31,  18,   9,  19,   8,  12,  38,  14,
         59,  15,  36, 150,  16,  22,  66,  27,  20,  29,  17,  23,  42,
         45,  51, 100,  33,  49,  69,  65, 279,  52,  57,  50,  72,  76,
         41,  70,  94,  32,  30,  43,  35,  77,  44,  34,  75,  47,  55,
        126,  68,  46], dtype=int64),
 'd_12': array([  0,   2,   3,  25,   1,  19,   6,   4,   5,  13,   8,  28,  10,
          7,  23,  14,   9,  12,  18,  24,  72,  20,  17,  43,  11,  92,
         33,  38,  71,  16,  60,  22,  21,  26,  27,  15,  34,  31,  55,
         37,  45,  90,  32,  42,  68, 258,  56,  61,  52,  69,  29,  64,
         36,  83,  49,  78,  47,  85,  62,  35,  44,  41,  50,  96,  39,
        117,  54,  63,  57], dtype=int64),
 'd_13': array([  0,   2,   1,   4,  26,   9,   5,   3,  10,   6,  12,  19,  13,
          7,  23,  52,  24,  11,  16,   8,  15,  14,  25,  17,  36,  47,
         22,  20,  28,  43,  29,  21,  33,  66,  35,  30,  18,  27,  34,
        151, 163,  55,  37,  32,  40,  48,  58,  45,  31,  44,  53,  62,
         39, 116,  42, 101,  72,  54,  41,  59,  51, 147,  57,  75,  38],
       dtype=int64),
 'd_14': array([  0,  20,   2,   9,   1,   8,   5,   3,   4,  24,   6,  10,  13,
         12,  33,  21,  19,   7,  15,  11,  27,  17,  29,  28,  22,  31,
         14,  16,  18,  32,  25,  23,  38,  68,  48,  45,  34,  36,  40,
         37,  26,  51,  87,  75,  61,  49,  80,  81,  63,  62,  46,  42,
         30,  50,  91,  35,  54, 107,  43,  66,  41,  59,  90,  70,  65,
         53,  82,  47], dtype=int64),
 'd_15': array([  0,   9,   4,   2,   1,   6,  12,  49,   3,   7,  11,  21,  13,
          5,  19,  17,  61,  37,  29,  81,  10,   8,  45,  14,  35,  25,
         34,  22,  15,  39,  33,  24,  43,  26,  23,  38,  30,  55, 107,
         32,  87,  52,  59,  18,  28,  36,  20,  62,  27,  56,  44,  16,
         31,  66,  83,  58, 105,  47,  54,  93,  46,  41,  63,  79,  51,
         48,  53,  42,  40,  64,  74, 133,  90,  50,  92,  69,  80,  75,
         86, 109, 100], dtype=int64),
 'd_16': array([  0,   3,   4,   2,   1,   9,   5,   6,  23,   7,  35,  34,  29,
         24,  15,   8,  11,  10,  19,  36,  18,  25,  17,  16,  12,  31,
         33,  32,  13,  28,  14,  27,  58,  54, 102,  26,  30,  47,  65,
         53,  43,  55,  21,  91,  20,  39,  49,  22,  69,  42,  37,  64,
         90,  46,  78,  76,  80, 149, 110,  98,  89,  51,  40,  44,  79,
         41,  38,  45,  85,  72,  60,  63, 108,  57,  52,  61,  93, 135,
         48, 112,  59,  81], dtype=int64),
 'd_17': array([  0,   1,  14,   2,   8,   3,   4,  27,  20,   5,  17,   7,  29,
         10,  13,  37,   6,  12,  18,  19,  16,  15,   9,  21,  24,  11,
         23,  26,  43,  88,  30,  39,  45,  31,  50,  48,  33,  36,  66,
         40,  25,  22,  42,  34, 110,  63,  79,  32,  51,  55,  35,  53,
         28,  46,  49, 122,  38,  57,  44,  41,  56], dtype=int64),
 'd_18': array([  0,   1,   2,   3,   5,   9,  16,   6,   4,  19,  12,  17,  27,
         11,  31,   7,   8,  10,  23,  18,  14,  46,  22,  15,  36,  20,
         24,  55,  28,  13,  35,  25,  53,  37,  21,  41,  52,  54,  44,
         33,  38,  87,  67,  34,  40,  32,  26,  30,  61,  29,  49,  48,
         98,  50,  65,  57,  97,  39,  51,  45,  43,  47,  78, 109,  80,
        111,  58], dtype=int64),
 'd_19': array([ 0,  2,  1,  3,  7,  5, 19, 40, 14,  4, 21, 12, 10,  6, 11,  8,  9,
        16, 37, 17, 18, 13, 26, 28, 33, 62, 24, 15, 20, 25, 29, 23, 30, 65,
        41, 35, 50, 53, 63, 60, 27, 46, 57, 47, 31, 38, 34, 83, 59, 45, 68,
        32, 22, 56, 39, 69, 67, 42, 51, 55], dtype=int64),
 'd_20': array([ 0,  1,  2,  7,  4,  9,  3, 51, 21,  8, 19,  5,  6, 11, 10, 12, 15,
        27, 23, 13, 17, 18, 36, 31, 58, 16, 14, 20, 22, 26, 76, 35, 37, 72,
        38, 54, 59, 65, 25, 29, 28, 24, 33, 47, 56, 40, 42, 30, 44, 52, 95,
        49], dtype=int64),
 'd_21': array([  0,   1,   3,   2,  52,  13,   5,   4,   7,  14,   6,  10,  12,
         17,  18,   8,  32,   9,  16,  22,  15,  11,  26,  30,  23,  20,
         24,  31,  21,  33,  97,  40,  35,  28,  19,  41,  36,  65,  25,
         51,  67,  61,  43,  47,  60,  39,  42,  44,  86,  27,  37,  73,
         85, 100,  46,  45,  38,  34,  53,  62,  29,  59], dtype=int64),
 'd_22': array([  0,  10,   5,   3,   7,  15,   1,   2,  11,  43,   4,  24,  13,
         29,   6,  19,   9,  38,  21,  14,  85,  35,  12,   8,  59,  25,
         26,  31,  20,  30,  39,  27,  17,  88,  33,  16,  18,  36,  34,
         28,  68, 115,  22,  52,  37,  32,  42,  23,  55,  93,  45,  83,
         48,  46,  76,  64,  72,  53,  41,  78,  63,  66,  97,  67,  50,
         86,  87, 132,  47,  51,  40,  56,  54,  75,  61], dtype=int64),
 'd_23': array([  0,   4,   2,   1,  18,   5,   7,   3,  10,   8,  26,  16,  41,
         54,   6,  22,  15,  11,   9,  12,  31,  36,  24,  25,  20,  32,
         38,  13,  23,  17,  29,  39,  19,  14,  57, 120,  52,  30,  46,
         28,  21,  37,  47,  27,  33,  35,  43,  40,  60,  34,  92,  81,
         62,  63,  66,  48, 104,  45,  65,  75, 111,  51,  73,  44],
       dtype=int64),
 'd_24': array([  0,   4,   2,   1,   8,  18,  54,   3,   6,  21,  15,  11,   7,
         24,   9,  37,  39,  27,  10,   5,  34,  26,  12,  17,  16,  31,
         38,  29,  20,  13,  19,  14,  33,  87,  46,  22,  25,  30,  47,
         41,  23,  35,  28,  55,  43,  32,  91,  61,  90, 113,  49,  45,
         44,  36,  40,  58,  70,  74,  71,  52], dtype=int64),
 'd_25': array([  0,   2,  15,  40,   1,   3,   6,  26,   4,  13,   8,  14,  21,
         73,   5,  27,  16,  12,   7,  10,  17,   9,  18,  30,  11,  43,
         78,  19,  20,  24,  31,  41,  61,  46,  32,  34,  39,  22,  25,
         38,  47,  33,  23,  52,  87,  63,  29,  44,  62,  35, 158,  90,
         36,  51,  55,  81,  37,  42], dtype=int64),
 'd_26': array([  0,   6,   3,   1,   2,   9,   5,  10,  27,   4,  16,  11,  68,
         45,   7,  17,  14,   8,  18,  34,  13,  24,  30,  31,  53,  19,
         33,  28,  12,  25,  15,  22,  21,  20,  39,  40,  26,  37,  32,
         59,  48,  35,  41,  29,  52,  60,  38,  23,  77,  47,  91,  49,
         44, 105], dtype=int64),
 'd_27': array([  0,   2,   7,   1,   4,   3,  30,   5,  26,  13,  35,   6,  10,
         29,  24,  21,  25,   9,  11,  14,  15,   8,  12,  17,  22,  37,
         63,  16,  19,  51,  23,  18,  20,  28,  45,  43,  58,  31,  27,
         54,  72,  36,  40,  67,  83,  76,  33,  34,  46, 104,  47,  52,
         41], dtype=int64),
 'd_28': array([ 0,  1,  2,  3,  8,  5, 10,  4, 33, 26,  9, 28, 11, 40, 18, 27,  6,
         7, 12, 24, 25, 21, 16, 13, 20, 17, 42, 84, 19, 14, 37, 23, 15, 22,
        31, 41, 32, 29, 36, 43, 59, 67, 38, 47, 63, 56, 45, 86, 57, 35, 55,
        92, 34, 94, 81, 44], dtype=int64),
 'd_29': array([  0,   8,   1,  16,  31,   5,  28,   4,   2,   3,  20,   6,   7,
         12,  10,  64,  13,   9,  23,  41,  18,  24,  11,  19,  36,  14,
         30,  21,  26,  15,  17,  43,  95,  27,  46,  63,  40,  70,  25,
         44,  33,  38,  35,  37,  32,  71,  58,  42,  22,  78, 108,  48,
         29,  39,  80,  56, 125,  34, 106,  54,  47,  62,  83,  57,  74],
       dtype=int64),
 'd_30': array([  0,   4,   2,   3,   1,   5,   9,   6,   8,   7,  13,  15,  11,
         28,  39,  12,  19,  14,  10,  33,  27,  23,  40,  26,  16,  31,
         22,  37,  29,  21,  58, 138,  18,  20,  17,  38,  53,  24,  30,
         32,  36,  46,  66,  49,  90, 104,  50, 101,  57,  55,  60,  77,
         43,  63,  42,  51,  45,  98,  84,  54,  96, 134,  35,  48,  25,
        105,  34,  56,  59,  65,  52], dtype=int64),
 'd_31': array([ 0,  4,  3,  1,  2,  5,  7,  8,  6, 10, 18, 33, 50, 22, 20, 24, 11,
        15, 14, 21, 13, 28, 12, 31, 32,  9, 26, 39, 27, 49, 38, 16, 25, 34,
        23, 19, 17, 35, 57, 47, 40, 88, 29, 30, 48, 43, 36, 64, 45, 42, 54,
        81, 37, 65], dtype=int64),
 'd_32': array([  0,  13,   3,   1,   2,   5,   4,  17,   8,   6,  10,  11,   7,
          9,  24,  26,  14,  16,  38,  15,  12,  52,  19,  23,  27,  28,
         44,  35,  39,  22,  18,  40,  33,  30,  25,  32,  21,  20,  41,
         56,  34,  49,  29,  76,  43,  54,  50,  37,  75,  31,  64,  58,
        104,  36,  42,  45,  59,  47,  63,  53], dtype=int64),
 'd_33': array([ 0, 20, 24,  2,  3, 12,  1,  8,  5,  6,  4,  7, 10, 11,  9, 21, 16,
        14, 27, 15, 41, 38, 23, 18, 19, 13, 39, 29, 17, 37, 51, 28, 32, 25,
        22, 35, 26, 34, 33, 36, 54, 43, 44, 50, 79, 31, 42, 30, 64, 57, 78,
        91, 53, 56, 40], dtype=int64),
 'd_34': array([ 0,  1,  6,  2,  5,  4,  3, 12,  7, 10,  8, 13, 11, 17, 24,  9, 21,
        38, 29, 25, 14, 15, 16, 20, 37, 47, 18, 27, 30, 34, 35, 19, 41, 22,
        31, 26, 48, 46, 40, 51, 59, 66, 61, 90, 33, 28, 23, 52, 53, 86, 36,
        44, 42, 76, 45, 70, 56, 55, 49, 32, 65], dtype=int64),
 'd_35': array([ 0,  2,  8,  5,  1,  3,  6,  4,  7, 16, 12, 11,  9, 14, 10, 18, 33,
        54, 22, 15, 24, 20, 13, 51, 21, 17, 30, 38, 63, 19, 32, 41, 36, 23,
        28, 34, 26, 60, 39, 25, 37, 35, 67, 42, 82, 27, 55, 98, 68, 49, 29,
        69, 40, 62, 66, 52, 45, 57, 43, 44, 48, 53], dtype=int64),
 'd_36': array([  0,   7,   1,   8,   2,   3,  21,   4,   5,   6,  12,  14,  13,
          9,  11,  10,  22,  47,  19,  15,  18,  24,  35,  27,  33,  16,
         17,  23,  29,  40, 103,  43,  53,  62,  55,  25,  65,  54,  20,
         31,  32,  30,  45,  37,  26,  48,  57,  51,  52,  41,  36,  75,
         28,  96,  92,  77,  42,  39,  67, 104,  82,  93, 133,  34,  85,
         91,  63,  38,  81,  74,  71,  66,  72], dtype=int64),
 'd_37': array([  0,   2,   4,   1,   5,   7,   3,  22,  10,  15,  31,   8,   6,
        294,  20,  14,   9,  12,  16,  25,  21,  11,  29,  17,  45,  42,
         33,  32,  13,  72,  24,  26,  47,  28,  48,  39,  35,  41,  75,
         59,  88,  19,  63,  43,  27,  23,  30,  18,  34,  49,  61,  38,
         85, 111,  37,  74,  46,  98, 121, 107,  58,  36,  60,  44,  54,
         76,  40,  52,  69, 114,  51,  77,  99, 129,  62,  50,  67, 108,
         70,  55], dtype=int64),
 'd_38': array([ 0,  8,  2,  1,  3, 24, 29, 17,  7, 18, 22,  4,  5, 13, 10, 21, 11,
        35,  6,  9, 12, 23, 30, 16, 33, 15, 25, 27, 31, 14, 26, 34, 28, 19,
        55, 41, 20, 32, 37, 48, 62, 65, 52, 46, 63, 91, 54, 36, 93, 47, 38,
        39, 44, 40, 45, 85, 56, 42, 99, 53], dtype=int64),
 'd_39': array([ 0,  6,  1,  4,  2,  3, 21,  5, 12,  7,  9,  8, 42, 24, 33, 66, 17,
        13, 10, 15, 26, 31, 18, 27, 11, 19, 30, 16, 34, 14, 23, 20, 41, 47,
        25, 45, 39, 22, 36, 71, 29, 43, 67, 32, 75, 89, 68, 46, 55, 49, 40,
        64, 48, 65, 84, 72, 58, 35], dtype=int64),
 'd_40': array([  0,   2,   4,   1,  31,  12,   3,   5,  13,   7,   8,   6,  21,
         38,  48,  33,  14,  20,  25,  10,  37,   9,  34,  42,  23,  24,
         22,  11,  19,  26,  15,  17,  18,  16,  30,  36,  40,  29,  41,
         27,  28,  47,  53,  77,  55,  71,  39,  35,  65,  44,  51,  68,
         32,  70,  80,  43,  46, 101], dtype=int64),
 'd_41': array([ 0,  2,  6,  1,  3,  8,  9, 31,  7, 11,  4, 10,  5, 29, 18, 26, 14,
        15, 19, 42, 23, 35, 12, 16, 24, 36, 32, 38, 50, 13, 22, 62, 21, 30,
        17, 34, 47, 45, 44, 40, 20, 56, 27, 64, 67, 25, 28, 65, 75, 94, 33,
        72, 52, 73, 59, 57, 41, 66, 48], dtype=int64),
 'd_42': array([ 0,  1,  4,  2, 20, 26,  3, 18,  7,  5,  6, 21,  8, 45, 13, 17, 15,
        16, 32,  9, 27, 10, 31, 11, 24, 23, 12, 14, 40, 29, 19, 39, 56, 71,
        54, 66, 22, 25, 30, 33, 35, 62, 42, 51, 47, 44, 36, 48, 53, 59, 57,
        38, 37, 43, 46, 49, 68, 79, 63, 89, 28, 34, 60], dtype=int64),
 'd_43': array([  0,   1,  12,   4,   8,  22,   2,   3,   5,  67,  10,   9,   6,
         13,  14,  11,  15,   7,  32,  60,  29,  35,  34,  20,  36,  31,
         17,  30,  24,  26,  25,  16,  18,  21,  40,  27,  41,  62,  69,
         53,  55,  19,  37,  42,  23,  48,  38,  28,  63,  91,  72,  83,
         51,  74,  49,  46,  39,  65,  59,  77, 128, 104,  44,  86, 146,
         50,  33,  47, 110,  79,  52,  43,  64,  71], dtype=int64),
 'd_44': array([  0,   2,   4,   1,   5,   6,  11,   7,  18,   3,  16,   8,   9,
         20,  21,  38,  15,  12,  10,  14,  13,  25,  39,  32,  51,  41,
         17,  24,  19,  34,  35,  52,  28,  40,  45,  23,  26,  66,  22,
         31,  37,  36,  50,  77,  27,  59,  30,  43,  33,  46,  29,  72,
         64,  78,  93,  58,  61,  62, 100, 110,  47,  60, 131,  42,  44,
         49,  55,  79,  54,  80,  48], dtype=int64),
 'd_45': array([ 0,  6,  1,  3,  2,  4,  5, 22,  7, 11, 43,  8, 24, 25, 28, 15, 12,
        10, 16, 21, 14, 13, 20, 27,  9, 33, 17, 18, 36, 32, 55, 38, 23, 19,
        44, 29, 41, 26, 30, 34, 57, 54, 93, 67, 83, 53, 58, 40, 31, 52, 56,
        35, 42, 46, 84, 50, 49, 51, 80, 37, 94, 60], dtype=int64),
 'd_46': array([  0,   2,  16,   3,   1,  24,  18,  23,  15,   7,   4,   6,  22,
         13,   9,   5,   8,  11,  19,  20,  12,  10,  14,  28,  29,  27,
         30,  35,  17,  32,  31,  36,  56,  21,  50,  55,  61,  69,  34,
         37,  38,  54,  59,  33,  57,  25,  51,  46,  93,  98, 101,  26,
         42,  47,  40,  80,  44,  49,  41,  39,  58,  68,  70,  64,  63],
       dtype=int64),
 'd_47': array([ 0,  1, 12,  2,  4,  6,  7,  3, 32,  5, 13, 16, 15, 18,  8, 21, 23,
        14, 11,  9, 19, 10, 17, 27, 20, 34, 26, 48, 30, 24, 43, 28, 33, 37,
        29, 25, 38, 22, 35, 42, 61, 57, 54, 77, 36, 45, 46, 53, 80, 51, 39,
        83, 86, 47, 88, 41], dtype=int64),
 'd_48': array([  0,   6,   3,   1,   2,  31,   5,   4,   8,  11,   7,   9,  12,
         27,  13,  30,  19,  24,  17,  15,  22,  10,  21,  25,  14,  16,
         26,  35,  41,  18,  28,  50,  44,  38,  23,  32,  20,  52,  37,
         39,  63,  62,  34,  74, 105,  33,  40,  66,  29,  55,  45,  46,
         67,  86,  87,  49,  36,  43,  56,  60,  47], dtype=int64),
 'd_49': array([  0,   1,   2,   3,  21,  11,   7,   4,   5,   6,  25,  28,   9,
         14,   8,  12,  15,  39,  33,  10,  34,  16,  27,  13,  50,  26,
         29,  18,  37,  23,  49,  20,  17,  30,  42,  44,  19,  22,  24,
         32,  70,  56,  71,  35,  36,  41,  59,  58,  31,  38,  46,  55,
         77, 105,  67,  75,  48,  51], dtype=int64),
 'd_50': array([  0,   2,   1,   9,   3,  43,   7,  15,   5,  50,  17,  11,   4,
          8,  10,  24,  14,  61,  34,  13,  22,   6,  60,  25,  12,  23,
         28,  41,  19,  42,  29,  36,  18,  21,  20,  31,  48,  45,  26,